<button (click)="printForm()" > Form ausgeben</button>
<app-calibration></app-calibration>

<div class="card card-style-general">
  <h2 class="card-header">Step 3: Setp the feeding rates</h2>
  <form [formGroup]="myForm" clrForm>
  <clr-datagrid>
    <clr-dg-column>Pump No</clr-dg-column>
    <clr-dg-column>Substance feeding</clr-dg-column>
    <clr-dg-row>
        <clr-dg-cell>Pump 1 Transaminase</clr-dg-cell>
        <clr-dg-cell>
            <input clrInput formControlName="pump1" placeholder="active time in seconds" />
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-row>
      <clr-dg-cell>Pump 2 Substrate Transaminase</clr-dg-cell>
      <clr-dg-cell>
        <input clrInput formControlName="pump2" placeholder="active time in seconds" />
      </clr-dg-cell>
  </clr-dg-row>



</clr-datagrid>
</form>
<div class="clr-row">
<div class="clr-col">
    <div class="card">
      <h3 class="card-header">Step 3 Run Cascade</h3>
      <div class="card-block cascadeBlock">
        <div *ngIf="!loading" class="card-title">
          
          <button *ngIf="cascade_not_started" class="btn btn-primary" (click)="startTimerTests()"> start cascade </button>
          <div *ngIf="cascade_not_started==false"> <span class="badge badge-purple"> Cascade has started <span class="clr-sr-only">item in a badge</span></span> </div>
        </div>
        <div class="card-text">
        <div *ngIf="timer_automated_measurement" class="spin-container">
          <div class="label label-success">measurment in progress</div>
          <div class="spinner spinner-inline"></div>
        </div>
        <div *ngIf="Inactivation" class="spin-container">
          <div class="label label-success">inactivation ongoing</div>
          <div class="spinner spinner-inline"></div>
        </div>
      </div>
        <div class="card-footer">
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox value="enzymeAdded" name="options1" [checked]="enzymeAdded"
              (change)="enzymeAdded = !enzymeAdded" />
            <label>Enzyme added?</label>
          </clr-checkbox-wrapper>
        </div>
      </div>
    </div>
  </div>

</div>




<button (click)="setTime()"> set time </button>

{{data.data | json}}

<div class="clr-row">
  <div class="clr-col-4">
    <span class="label label-light-blue"> Next measurement at {{time.getHours()}}:{{time.getMinutes()}}</span>
  </div>
</div>

<div id="pagegraph" #pagegraph></div>
</div>