<div class="clr-col-lg-3 clr-col-md-4 clr-col-5">
    <div class="card">
      <h3 class="card-header">Check measurements</h3>
      <div class="card-block">
        <div class="card-text">
          <button class="btn btn-primary"> Check measurements </button>
        </div>
        <clr-datagrid>
            <clr-dg-column>Substance</clr-dg-column>
            <clr-dg-column>Concentration</clr-dg-column>
        
            <clr-dg-row>
                <clr-dg-cell></clr-dg-cell>
                <clr-dg-cell></clr-dg-cell>

            </clr-dg-row>
        
            <clr-dg-footer>users</clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
  </div>
