<div class="card card-style-general">
  <h2 class="card-header">Control measurements</h2>
<div class="clr-col">
    <div class="card control-card-format">
      <div class="card-block">
        <div class="card-text">
          <button (click)="checkMeasurement()" class="btn btn-primary"> Check measurements </button>
        </div>

        <clr-datagrid *ngIf="compounds.length > 0">
            <clr-dg-column>Substance</clr-dg-column>
            <clr-dg-column>Concentration</clr-dg-column>
            <clr-dg-column>Integral value</clr-dg-column>

                <clr-dg-row *ngFor="let x of compounds">
                  <clr-dg-cell>{{x.name}}</clr-dg-cell>
                  <clr-dg-cell>{{x.concentration}}</clr-dg-cell>
                  <clr-dg-cell>{{x.value}}</clr-dg-cell>
                </clr-dg-row>
            <clr-dg-footer>users</clr-dg-footer>
        </clr-datagrid>

      </div>
    </div>
  </div>

</div>