<div class="card card-style-general">

Are there Problem? Report <a href="https://github.com/StephanM87/NMR_package/issues"> here </a>

  <h2 class="card-header">Control and calibration functions</h2>

  <div class="clr-row">
    <div class="clr-col">
      <div class="card control-box-style">
        <h3 class="card-header">Test LED Stripe</h3>
        <div class="card-block">
          <div *ngIf="!loading" class="card-text">
            <button class="btn btn-primary" (click)="startLED()"> start LED </button>
            <button class="btn btn-primary" (click)="stopLED()"> Stop LED </button>
          </div>
          <div *ngIf="loading" class="card-text spin-container">
            <span class="spinner spinner-inline"></span>
          </div>
          <div class="card-footer">
            <span *ngIf="LED" class="label label-success">LED on</span>
            <span *ngIf="!LED" class="label label-danger">LED off</span>

          </div>
        </div>
      </div>
    </div>

    <div class="clr-col">
      <div class="card control-box-style">
        <h3 class="card-header">Test peristaltic pump</h3>
        <div class="card-block">
          <div *ngIf="!loading_pump" class="card-text">
            <button class="btn btn-primary" (click)="startPump()"> start pump </button>
            <button class="btn btn-primary" (click)="stopPump()"> stop pump </button>
          </div>
          <div *ngIf="loading_pump" class="card-text spin-container">
            <span class="spinner spinner-inline"></span>
          </div>
          <div class="card-footer">
            <span *ngIf="Pump" class="label label-success">Pump on</span>
            <span *ngIf="!Pump" class="label label-danger">Pump off</span>

          </div>
        </div>
      </div>
    </div>
    <div class="clr-col">
      <div class="card control-box-style">
        <h3 class="card-header">Transaminase feeding pump</h3>
        <div class="card-block">
          <div *ngIf="!loading" class="card-text">
            <button class="btn btn-primary" (click)="startPump2()"> Start </button>
            <button class="btn btn-primary" (click)="stopPump2()"> Stop </button>
          </div>
          <div *ngIf="loading" class="card-text spin-container">
            <span class="spinner spinner-inline"></span>
          </div>
          <div class="card-footer">
            <span *ngIf="LED" class="label label-success">Pump on</span>
            <span *ngIf="!LED" class="label label-danger">Pump off</span>

          </div>
        </div>
      </div>
    </div>
    <div class="clr-col">
      <div class="card control-box-style">
        <h3 class="card-header">Amine donor feeding pump</h3>
        <div class="card-block">
          <div *ngIf="!loading" class="card-text">
            <button class="btn btn-primary" (click)="startPump3()"> Start </button>
            <button class="btn btn-primary" (click)="stopPump3()"> Stop </button>
          </div>
          <div *ngIf="loading" class="card-text spin-container">
            <span class="spinner spinner-inline"></span>
          </div>
          <div class="card-footer">
            <span *ngIf="LED" class="label label-success">Pump on</span>
            <span *ngIf="!LED" class="label label-danger">Pump off</span>

          </div>
        </div>
      </div>
    </div>


  </div>



</div>

<app-automated-system></app-automated-system>